.name-comp{
   padding-left: 5rem;
}
.nav-end1{
    margin-right: 2em;
}
.nav-end2{
    margin-right: 2em;
}
.nav-end3{
    margin-right: 2em;
}
.size{
    width: 30em;

}
.center-a{
    align-items: center;
}